#tags {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 5rem;
  justify-content: center;
  align-items: center;
  margin: 0px auto;

}

.tag {
  color: black;
  padding: 15px 25px;
  background-color: var(--primary-sub-color);
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  max-width: 11rem;
  justify-self: center;
}
.tag-highlight {
  background-color: rgb(116, 33, 0);
  transform: scale(1.2);
  border: 3px solid white;
  color: whitesmoke;
  font-weight:bold;
}
.tag:hover {
  background-color: rgb(61, 21, 21);
  transform: scale(1.2);
  transition-duration: 0.4s;
  border: 3px solid white;
  color: whitesmoke;
  font-weight:bold; 
}

.sort-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.sort-btn {
  color: black;
  padding: 10px 20px;
  background-color: var(--primary-sub-color);
  border-radius: 50px;
  margin: 10px;
  margin-bottom: 3rem;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.sort-btn:hover {
  background-color: rgb(61, 21, 21);
  transform: scale(1.2);
  transition-duration: 0.4s;
  border: 3px solid white;
  color: whitesmoke;
  font-weight: bold;
}

