body {
  background-color: hsla(250, 13%, 11%, 1);
}

.review-form {
  border-radius: 10px;
  background-color: var(--primary-sub-color);
  max-width: 800px;
  height: 250px;
  margin: 0px auto;
}

.review-form-data {
  width: 95%;
  padding: 20px;
  margin: 20px auto;
}

.review-title {
  display: flex;
  float: right;
  margin-top: 15px;
}

.nickname {
  width: 100%;
  height: 45px;
  border: none;
  padding-left: 15px;
  border-radius: 10px;
}

.password {
  width: 100%;
  height: 45px;
  border: none;
  margin-left: 20px;
  padding-left: 15px;
  border-radius: 10px;
}

.review-text {
  width: 100%;
  height: 150px;
  border: none;
  padding: 15px 0px 0px 15px;
  border-radius: 10px;
}

.nickname .password .review-text:hover {
  border: 3px solid var(--primary-sub-color);
}

.review-btn {
  width: 150px;
  height: 45px;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 10px;
  background-color: hsla(250, 13%, 11%, 1);
  color: #fff;
}

.review-btn:hover {
  font-weight: bold;
}

.review-list {
  max-width: 1200px;
  margin: 10px auto;
  /* 넓이에 따라 자동 줄바꿈 */
  word-wrap: break-word;
}

.list-box {
  background-color: var(--primary-sub-color);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 15px;
}

.list-text {
  padding: 3px 0px 0px 10px;
  font-size: 16px;
  resize: none;
  background-color: #eece6f;
  color: var(--primary-color);
  border:1px solid var(--primary-color);
  border-radius: 5px;
  width: 100%;

}

.list-text:focus {
  box-shadow: 0 0 10px white;
  border:2px solid var(--primary-color);
  background-color: transparent;
}

.list-title {
  padding-top: 8px;
  font-size: 16px;
  font-weight: bold;
}

.list-time {
  padding-top: 10px;
  font-size: 12px;
}

.review-write {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: flex;
  margin: 20px auto;
}

.review-write > a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

/*====삭제수정 Style====*/
.delete-update-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.update-controller {
  display: none;
  margin-left: 1rem;
}

.editBtn {
  margin-left: 1rem;
}

.fa-solid {
  transform: scale(1.5);
  cursor: pointer;
}

.updateBtn {
  height: fit-content;
  cursor: pointer;
  color: var(--primary-sub-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 15px;
}
/*====삭제수정 Style====*/
